{% extends "base_generic.html" %}

{% block content %}

<div class="form" style="margin-top: 50px; margin-left: 40px;">
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>

{% if sucesso %}
<br>
<p>Cadastrado com sucesso.</p>

{% endif %}
<br>
{% if lista_clientes %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for c in lista_clientes %}
    
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: gold;">{{c.nome}} - {{c.cpf}}</h5>
            </div>
        </div>
    </div>

    {%endfor%}

</div>
</div>

{%endif%}
{% endblock %}